.whitespace {
    margin-top: 100px;
}

.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    text-align: center;
}

.sidestilt {
    margin-left: 350px;
}

.loginButton {
    height: 80px;
    border-style: solid;
    border-color: black;
    margin-left: 350px;
    margin-right: 350px;
}

.loginText {
    margin-top: -10px;
    cursor: default;
}